
body {
	font-family: 'Poppins', sans-serif;
}

#movies img, #movie img {
	width: auto;
}

@media(min-width: 960px){
#movies .col-md-3 .well{
	height: 390px;
}

#movies .col-md-3 img {
	height: 240px;
}

}

@media(min-width: 1240px){
#movies .col-md-3 .well{
	height: 390px;
}

#movies .col-md-3 img {
	height: 240px;
}

}